{{#> "heart:items/base/preview.hbs" }}
    <h4>{{localizeHeart item.name}} ({{localizeHeart "fallout-level" item.system.type}} {{localizeListHeart '/' 'resistance' item.system.resistances}})</h4>
    <div>
        {{{localizeHeart item.system.description}}}
    </div>
{{/ "heart:items/base/preview.hbs"}}